<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1">My Stock Ticker</h1>
    <p class="lead"></p>
  <%= form_tag root_path, :method => 'POST' do %>
<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
<%= submit_tag 'Lookup' %>
<% end %>
<br/>
<% if @stock %>
<%= @stock.company_name %><br/>
$<%= @stock.latest_price %><br/>
<% elsif @nothing %>
	<%= @nothing %>
<% end %>
<% if @error %>
	<%= @error %>
	<% end %>